<div class="page">
  <div class="head">
    <div>
      <div class="title">{{ 'pendingMembers.title' | transloco }}</div>
      <div class="subtitle">{{ 'pendingMembers.subtitle' | transloco }}</div>
    </div>
  </div>

  <div>
    @if (error()) {
      <div class="error">
        {{ error() }}
        <button class="error__retry" type="button" (click)="load()">{{ 'common.retryShort' | transloco }}</button>
      </div>
    } @else {
      <div class="grid-wrap">
        <app-data-table [rowData]="list()" [config]="tableConfig" [loading]="loading()" />
      </div>
    }
  </div>
</div>
