<div class="min-h-screen bg-slate-950 text-slate-100 flex items-center justify-center p-6">
    <div class="w-full flex flex-col justify-center items-center">
        <div class="flex flex-col items-center mb-5">
            <div class="w-20 h-20 rounded-full overflow-hidden border border-slate-800 bg-slate-900/40 shadow-xl">
                <img src="/logo.png" alt="Logo" class="w-full h-full object-cover" />
            </div>
        </div>

        <div class="w-[520px] bg-slate-900/40 border border-slate-800 rounded-2xl p-6">
            <h1 class="text-2xl font-bold mb-1">Entrar</h1>
            <p class="text-slate-300 mb-6">Acesse sua conta</p>

            <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
                <div>
                    <label class="text-sm text-slate-300">Email</label>
                    <input class="mt-1 w-full px-3 py-2 rounded-lg bg-slate-950 border border-slate-800"
                        formControlName="email" autocomplete="email" />
                </div>

                <div>
                    <label class="text-sm text-slate-300">Senha</label>
                    <input type="password" class="mt-1 w-full px-3 py-2 rounded-lg bg-slate-950 border border-slate-800"
                        formControlName="password" autocomplete="current-password" />
                </div>

                <button
                    class="w-full px-3 py-2 rounded-md transition font-bold text-[#0F172A] bg-[#00FEFF] hover:bg-[#000] hover:text-[#00FEFF] disabled:bg-[#24314E] disabled:pointer-events-none disabled:text-[#94A3B8]"
                    [disabled]="form.invalid || loading">
                    {{ loading ? 'Entrando...' : 'Entrar' }}
                </button>
            </form>

            <div class="mt-4 text-sm text-slate-300">
                Não tem conta?
                <a class="text-indigo-400 hover:underline" routerLink="/register">Cadastrar</a>
            </div>

            @if (error) {
            <div class="mt-4 text-sm text-red-300">{{ error }}</div>
            }
        </div>
    </div>
</div>